<html>

<head>
    <title>Alta de USuario</title>
</head>

<body style="background:#fafafa;">
    <div style="background:#ffffff; padding:50px; margin:10px; border:solid 1px #ccc;">
        <div style="font-size:15px; font-family:Arial;">Bienvenido [NOMBRE_COMPLETO_USUARIO] </div>
        <p style="font-family:Arial; font-size:15px;">
            El Administrador del sistema [SISTEMA] ha generado una cuenta de usuario para usted.
        </p>
        <p style="font-family:Arial; font-size:15px;">
            Para que puedas ingresar al sistema solo hace falta que concluyas el registro haciendo clic <a target="_blank" href="[URL_REGISTRO]">aqui</a> una ves concluido tu registro podras iniciar sesión en <a href="[URL_LOGIN]" target="_blank">login</a>
        </p>
        <p style="font-family:Arial; font-size:15px;">
            <ul style="list-style-type: none;">
                <li>Correo: [CORREO_USUARIO]</li>
            </ul>
        </p>
    </div>
</body>

</html>